<mat-card id="team-form">
  <form novalidate [ngrxFormState]="team">
    <div>
      <mat-form-field>
        <mat-label>Team Name</mat-label>
        <input required matInput [ngrxFormControlState]="team.controls.name" />
        <mat-error *ngIf="team.errors._name?.required">
          A team name is required
        </mat-error>
        <mat-error *ngIf="team.errors._name?.$checkTeamName">
          A team name can't include an expletive
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 90px;">
        <mat-label>Max Subs</mat-label>
        <input
          required
          matInput
          min="0"
          max="5"
          [ngrxFormControlState]="team.controls.maxSubs"
          type="number"
        />
        <mat-error
          *ngIf="
            team.controls.maxSubs.errors?.lessThanOrEqualTo ||
            team.controls.maxSubs.errors?.greaterThanOrEqualTo
          "
        >
          Must be between 0 and 5
        </mat-error>
        <mat-error *ngIf="team.controls.maxSubs.errors?.tooManySubs">
          There are
          {{ team.controls.maxSubs.errors.tooManySubs }} too many subs
        </mat-error>
      </mat-form-field>
    </div>
    <div class="label-row">
      <mat-checkbox
        [checked]="virtualScroll"
        (change)="virtualScroll = !virtualScroll"
        >Virtual Scroll</mat-checkbox
      >
      <mat-checkbox
        [checked]="hidePlayers"
        (change)="hidePlayers = !hidePlayers"
        >Hide players</mat-checkbox
      >
      <mat-label>Subs selected: {{ subCount }}</mat-label>
    </div>
    <cdk-virtual-scroll-viewport
      #viewport
      *ngIf="virtualScroll && !hidePlayers"
      style="height: 300px; padding: 10px;"
      itemSize="70"
    >
      <mat-list>
        <mat-list-item
          *cdkVirtualFor="
            let player of team.controls.players.controls;
            trackBy: trackByIndex;
            let i = index
          "
        >
          <tb-player
            [player]="player"
            (removePlayer)="removePlayer.emit(i)"
          ></tb-player>
        </mat-list-item> </mat-list
    ></cdk-virtual-scroll-viewport>
    <mat-list *ngIf="!virtualScroll && !hidePlayers">
      <mat-list-item
        *ngFor="
          let player of team.controls.players.controls;
          trackBy: trackByIndex;
          let i = index
        "
      >
        <tb-player
          [player]="player"
          (removePlayer)="removePlayer.emit(i)"
        ></tb-player>
      </mat-list-item>
    </mat-list>
    <div class="button-row">
      <button mat-button type="button" (click)="addPlayer.emit()">
        ADD PLAYER
      </button>
      <button
        mat-button
        type="button"
        (click)="cancel.emit()"
        [disabled]="team.isPristine"
      >
        CANCEL
      </button>
      <button
        mat-button
        type="button"
        (click)="saveTeam.emit(team.value)"
        [disabled]="
          team.isInvalid || team.isPristine || team.isValidationPending
        "
      >
        SAVE TEAM
      </button>
    </div>
    <button
      *ngIf="virtualScroll"
      mat-button
      type="button"
      (click)="scrollToIndex(300)"
    >
      SCROLL TEST
    </button>
  </form>
</mat-card>
