<h1>Team Form Demo</h1>
<ng-container *ngIf="{ form: teamForm$ | async } as data">
  <form novalidate [ngrxFormState]="data.form">
    <mat-form-field appearance="fill">
      <mat-label>Team Name</mat-label>
      <input
        matInput
        required
        [ngrxFormControlState]="data.form.controls.name"
      />
      <mat-error *ngIf="data.form.errors._name?.required">
        A team name is required
      </mat-error>
    </mat-form-field>
    <input type="text" [ngrxFormControlState]="data.form.controls.name" />
    <input type="number" [ngrxFormControlState]="data.form.controls.maxSubs" />
    <button type="button" (click)="addPlayer()">Add Player</button>
    <div
      *ngFor="
        let player of data.form.controls.players.controls;
        trackBy: trackByIndex;
        let i = index
      "
    >
      <input type="text" [ngrxFormControlState]="player.controls.name" />
      <input type="checkbox" [ngrxFormControlState]="player.controls.isSub" />
      <button type="button" (click)="removePlayer(i)">Remove Player</button>
    </div>
  </form>
</ng-container>
<router-outlet></router-outlet>
