<h1>Team Form Demo</h1>
<ng-container *ngIf="{ form: teamForm$ | async } as data">
  <form novalidate [ngrxFormState]="data.form">
    <input type="text" [ngrxFormControlState]="data.form.controls.name" />
    <input type="number" [ngrxFormControlState]="data.form.controls.maxSubs" />
    <button type="button" (click)="addPlayer()">Add Player</button>
    <div
      *ngFor="
        let player of data.form.controls.players.controls;
        trackBy: trackByIndex;
        let i = index
      "
    >
      <input type="text" [ngrxFormControlState]="player.controls.name" />
      <input type="checkbox" [ngrxFormControlState]="player.controls.isSub" />
      <button type="button" (click)="removePlayer(i)">Remove Player</button>
    </div>
  </form>
</ng-container>
<router-outlet></router-outlet>
